In [60]:
import pandas as pd

In [73]:
df = pd.read_csv("./data/all_currencies.csv", index_col=0)
df = df.fillna(0)
df.head()

,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
ID,,,,,,,,
0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,0.0
1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,0.0
2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,0.0
3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,0.0
4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,0.0

In [74]:
df.dtypes

Date           object
Symbol         object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Market Cap    float64
dtype: object

In [75]:
# df = df.drop("Market Cap", axis=1)

In [76]:
dates = pd.to_datetime(df["Date"], format="%Y-%m-%d")
df["Year"] = dates.dt.year
df["Month"] = dates.dt.month
df["Day"] = dates.dt.month
df["DayOfWeek"] = dates.dt.dayofweek

In [77]:
df.to_csv("./data/preprocessed_data.csv")

In [89]:
btc = df[df["Symbol"] == "BTC"]
btc.to_csv("./data/preprocessed_data_btc.csv")

btc_next = btc.shift(-1)[:-1]
btc_cur = btc[:-1]

btc_diff = btc_cur.copy()[["Symbol", "Date", "Volume", "Year", "Month", "Day", "DayOfWeek"]]
btc_diff["OpenDiff"] = btc_cur["Open"] - btc_cur["Open"]
btc_diff["HighDiff"] = btc_next["High"] - btc_cur["High"]
btc_diff["LowDiff"] = btc_next["Low"] - btc_cur["Low"]
btc_diff["CloseDiff"] = btc_next["Close"] - btc_cur["Close"]
btc_diff["VolumeDiff"] = btc_next["Volume"] - btc_cur["Volume"]
btc_diff.to_csv("./data/btc_diff.csv")
btc_diff

,Symbol,Date,Volume,Year,Month,Day,DayOfWeek,OpenDiff,HighDiff,LowDiff,CloseDiff,VolumeDiff
ID,,,,,,,,,,,,
0,BTC,2013-04-28,0.000000e+00,2013,4,4,6,0.0,11.51,1.90,10.33,0.0
1,BTC,2013-04-29,0.000000e+00,2013,4,4,0,0.0,-0.56,0.05,-5.54,0.0
2,BTC,2013-04-30,0.000000e+00,2013,4,4,1,0.0,-7.04,-26.33,-22.01,0.0
3,BTC,2013-05-01,0.000000e+00,2013,5,5,2,0.0,-14.29,-15.44,-11.78,0.0
4,BTC,2013-05-02,0.000000e+00,2013,5,5,3,0.0,-17.47,-13.18,-7.46,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1973,BTC,2018-09-22,4.509660e+09,2018,9,9,5,0.0,-48.41,62.62,-11.35,-312160000.0
1974,BTC,2018-09-23,4.197500e+09,2018,9,9,6,0.0,-52.59,-98.52,-115.22,-20190000.0
1975,BTC,2018-09-24,4.177310e+09,2018,9,9,0,0.0,-109.92,-199.04,-148.94,548870000.0
1976,BTC,2018-09-25,4.726180e+09,2018,9,9,1,0.0,-17.73,16.03,48.53,-288880000.0
1977,BTC,2018-09-26,4.437300e+09,2018,9,9,2,0.0,126.19,67.06,181.75,169510000.0

In [85]:
eth = df[df["Symbol"] == "ETH"]
eth.to_csv("./data/preprocessed_data_eth.csv")

In [86]:
xrp = df[df["Symbol"] == "XRP"]
xrp.to_csv("./data/preprocessed_data_xrp.csv")